body {
    height: 100%;
    width: 100%;
    background-color: grey;
    background-image: url("./Images/home_bar_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.transparent_overlay {
    height: 100%;
    width: 100%;
    background-color: grey;
}